.panelElements{
  margin: 10px;
}

#errorAddUser{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#errorAction{
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDelete, .imgEdit{
  width: 30px;
  margin-left: 12px;
}
.iconColumn{
  width: 115px;
}
.statusColumn{
  width: 75px;
}
.NotActive, .Active{
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: .5s;
}
.NotActive{
  background: #c6c6c6;
}
.NotActive:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}
.Active{
  background: #03a9f4;
}
.Active:before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 20px;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}
